<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafe"
        tools:targetApi="31">
        <activity
            android:name=".opcoes"
            android:exported="false" />
        <activity
            android:name=".suco"
            android:exported="false" />
        <activity
            android:name=".pf"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".litro"
            android:exported="false" />
        <activity
            android:name=".lata"
            android:exported="false" />
        <activity
            android:name=".informacoes"
            android:exported="false" />
        <activity
            android:name=".pao"
            android:exported="false" />
        <activity
            android:name=".kibe"
            android:exported="false" />
        <activity
            android:name=".informaoes"
            android:exported="false" />
        <activity
            android:name=".enroladinnho"
            android:exported="false" />
        <activity
            android:name=".coxinha"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>